
terraform {

  backend "{{tf_backend.name}}" {}

  required_providers {
    {% for v in versions %}
      {{v.name}} = {
        source = "{{v.source}}"
        version = "{{v.version}}"
      }
    {%endfor%}
    
  }

}